header, footer {
    background-color: aquamarine;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

h1 {
    color:darkgreen;
}

body {
    background-color: lightblue;
} 

main p {
    font-size: 16px;
}

table {
    border: 2px solid green;
    border-collapse: collapse;
    background-color: aqua;
    margin: 10px;
}

td {
    border: 2px solid green;
     
}

img {
    border-radius: 10px;
}
